MQTT/flows.json
[
    {
        "id": "ae162ba06c86eb91",
        "type": "tab",
        "label": "Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fdcb03fd266d8483",
        "type": "mqtt-broker",
        "name": "MQTT broker",
        "broker": "https://www.maqiatto.com/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "94d140557d2380cc",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "32b157254c0de2e3",
        "type": "ui_tab",
        "name": "Not logged in",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1b852277fa047030",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "32b157254c0de2e3",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ac112190e487516",
        "type": "ui_tab",
        "name": "Homescreen",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a1af5b4282046a2",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "3ac112190e487516",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62dce26a8acb9cad",
        "type": "ui_tab",
        "name": "Status",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c939db76022897bb",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d2b597466f13b94",
        "type": "ui_tab",
        "name": "Help",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6fe893c9504f9afb",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "62dce26a8acb9cad",
        "order": 1,
        "disp": false,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a842e552509d81cf",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "c939db76022897bb",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f098bf7063da98c1",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "3d2b597466f13b94",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "160e2c322ceb1732",
        "type": "ui_tab",
        "name": "Create user",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8760a5fd5ea8e2bf",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "160e2c322ceb1732",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a96669e00de68b31",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b4dd99c7545cf98",
        "type": "ui_spacer",
        "z": "ae162ba06c86eb91",
        "name": "spacer",
        "group": "6fe893c9504f9afb",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "0e69ae643c75a29f",
        "type": "ui_spacer",
        "z": "ae162ba06c86eb91",
        "name": "spacer",
        "group": "a842e552509d81cf",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "630c3250c16ae648",
        "type": "ui_spacer",
        "z": "ae162ba06c86eb91",
        "name": "spacer",
        "group": "a842e552509d81cf",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "7c39cb13aa8b21da",
        "type": "ui_spacer",
        "z": "ae162ba06c86eb91",
        "name": "spacer",
        "group": "a842e552509d81cf",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "db8e786b888e5cd4",
        "type": "ui_spacer",
        "z": "ae162ba06c86eb91",
        "name": "spacer",
        "group": "8760a5fd5ea8e2bf",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "1d1d0cff7e3ca0f1",
        "type": "ui_spacer",
        "z": "ae162ba06c86eb91",
        "name": "spacer",
        "group": "8760a5fd5ea8e2bf",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "430f265e7549a41f",
        "type": "mqtt in",
        "z": "ae162ba06c86eb91",
        "name": "",
        "topic": "s183668@student.dtu.dk/pub",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fdcb03fd266d8483",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "c8f3d537e79fba73"
            ]
        ]
    },
    {
        "id": "f4bbd4236257586d",
        "type": "debug",
        "z": "ae162ba06c86eb91",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "82523118b0d7913e",
        "type": "ui_text",
        "z": "ae162ba06c86eb91",
        "group": "1b852277fa047030",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "Please check in with your chip",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 310,
        "y": 420,
        "wires": []
    },
    {
        "id": "c03e28529abf0c51",
        "type": "mqtt out",
        "z": "ae162ba06c86eb91",
        "name": "",
        "topic": "s183668@student.dtu.dk/hub",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fdcb03fd266d8483",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "70cba7a06638f6f8",
        "type": "inject",
        "z": "ae162ba06c86eb91",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "abesnot",
        "payloadType": "str",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "c03e28529abf0c51"
            ]
        ]
    },
    {
        "id": "201c8e6ffdd12446",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "Fake database",
        "func": "\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nlet username = \"\";\nlet desiredTemp = 23;\nlet database = [\n    [\"Abbas\", 0, 23, 20], \n    [\"Anel\", \"A29F8A3F\", 23, 20],\n    [\"Daniel\", 2, 23, 20],\n    [\"Jakob\", 3, 23, 20],\n    [\"Soren\", \"048C3E5A\", 23, 20]\n    ];\nglobal.set(\"database\", database);\nglobal.set(\"username\", username);\nglobal.set(\"desiredTemp\", desiredTemp);",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c8f3d537e79fba73",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "Find user and preset",
        "func": "\n// find bruger ud fra database. Check om den passer med\nlet database = global.get(\"database\");\nlet user = \"\";\nlet currentUser = \"\";\nlet foundUser = false;\nlet i = 0;\n\n\nfor (i = 0; i < database.length; i++){\n    if (database[i][1] == msg.payload) {\n        user = database[i][0];\n        foundUser = true;\n        break;\n    }\n}\n\nif (foundUser == false) {\n    user = 'new user id ' + msg.payload;\n    currentUser = msg.payload;\n    msg.payload = user;\n    global.set(\"currentUser\",currentUser);\n    return [msg, null];\n\n} else {\n    // Found user, so display homescreen\n    msg.payload = user + ';' + database[i][2] + ';' + database[i][3];\n    currentUser = user;\n    global.set(\"currentUser\",currentUser);\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "c03e28529abf0c51",
                "c922c2f6018344b5",
                "b1828ea16e98d084",
                "4e1b312dd6d8e92b",
                "8f70c1b04fe1376e"
            ],
            [
                "c03e28529abf0c51",
                "1b0207fcf5b4f192",
                "f4bbd4236257586d",
                "4e1b312dd6d8e92b",
                "49982542cd983bf1",
                "aa90923185db1658"
            ]
        ]
    },
    {
        "id": "974da0a3a2f4fd29",
        "type": "inject",
        "z": "ae162ba06c86eb91",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 40,
        "wires": [
            [
                "201c8e6ffdd12446"
            ]
        ]
    },
    {
        "id": "3490575e878f2cf7",
        "type": "ui_text",
        "z": "ae162ba06c86eb91",
        "group": "4a1af5b4282046a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Welcome",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "d90d6864c594a1ac",
        "type": "ui_button",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "4a1af5b4282046a2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Status",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "9a2ea31a96750f75",
                "c8e693f4e669f9e8"
            ]
        ]
    },
    {
        "id": "56703c62cac29e0c",
        "type": "ui_button",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "4a1af5b4282046a2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Settings",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 500,
        "wires": [
            [
                "c7d1948c54696f23",
                "c8e693f4e669f9e8"
            ]
        ]
    },
    {
        "id": "07a77828440b5b57",
        "type": "ui_button",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "4a1af5b4282046a2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "About",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 540,
        "wires": [
            [
                "e8488c4c5bc0c1f4",
                "c8e693f4e669f9e8"
            ]
        ]
    },
    {
        "id": "9a2ea31a96750f75",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Status\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 460,
        "wires": [
            [
                "28500315e473ec03"
            ]
        ]
    },
    {
        "id": "c7d1948c54696f23",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Settings\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 500,
        "wires": [
            [
                "2ef97be73d4498ed"
            ]
        ]
    },
    {
        "id": "e8488c4c5bc0c1f4",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Help\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 540,
        "wires": [
            [
                "afbb60203d515e7c"
            ]
        ]
    },
    {
        "id": "02ab4afd98beeb76",
        "type": "ui_text",
        "z": "ae162ba06c86eb91",
        "group": "a842e552509d81cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Settings",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "e5ada1434faed9ae",
        "type": "ui_text",
        "z": "ae162ba06c86eb91",
        "group": "f098bf7063da98c1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "About",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1310,
        "y": 820,
        "wires": []
    },
    {
        "id": "28500315e473ec03",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 1000,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2ef97be73d4498ed",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 1000,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "afbb60203d515e7c",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 1000,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4e549c8ad4397368",
        "type": "inject",
        "z": "ae162ba06c86eb91",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "s183668@student.dtu.dk/pub",
        "payload": "048C3E5A",
        "payloadType": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "c8f3d537e79fba73"
            ]
        ]
    },
    {
        "id": "ebc8906bcd9d17d3",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Homescreen\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 840,
        "wires": [
            [
                "2f866a0686a58e33"
            ]
        ]
    },
    {
        "id": "4208078382b51890",
        "type": "ui_button",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "a842e552509d81cf",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Go back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 840,
        "wires": [
            [
                "ebc8906bcd9d17d3",
                "632a8a87459fdf75",
                "7b208fb19bf3f807"
            ]
        ]
    },
    {
        "id": "2f866a0686a58e33",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 1020,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "0a4fdc795f025a9b",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 1680,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "76ef2d518212c8d7",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Homescreen\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 860,
        "wires": [
            [
                "0a4fdc795f025a9b"
            ]
        ]
    },
    {
        "id": "2b62289971d97be1",
        "type": "ui_button",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "f098bf7063da98c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Go back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1320,
        "y": 860,
        "wires": [
            [
                "76ef2d518212c8d7",
                "e4cb413eb12144db"
            ]
        ]
    },
    {
        "id": "c922c2f6018344b5",
        "type": "debug",
        "z": "ae162ba06c86eb91",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "1b0207fcf5b4f192",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Homescreen\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 280,
        "wires": [
            [
                "b5f488493eb9ae50"
            ]
        ]
    },
    {
        "id": "b5f488493eb9ae50",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 1020,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b1828ea16e98d084",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Create user\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 200,
        "wires": [
            [
                "c005700bc4efc902"
            ]
        ]
    },
    {
        "id": "c005700bc4efc902",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 1020,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e0af22ce1f19178c",
        "type": "ui_text",
        "z": "ae162ba06c86eb91",
        "group": "8760a5fd5ea8e2bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Create new user",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 980,
        "wires": []
    },
    {
        "id": "64f6b89310fc1066",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Not logged in\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1180,
        "wires": [
            [
                "ba9752e294963fae"
            ]
        ]
    },
    {
        "id": "af2e465dfbbf0a0c",
        "type": "ui_button",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "8760a5fd5ea8e2bf",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Cancel",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 1180,
        "wires": [
            [
                "64f6b89310fc1066",
                "d76bd470725a61ae"
            ]
        ]
    },
    {
        "id": "ba9752e294963fae",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 1020,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "fb9b4cc1f3c99927",
        "type": "ui_text",
        "z": "ae162ba06c86eb91",
        "group": "6fe893c9504f9afb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "156de75e0e19a241",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Homescreen\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 460,
        "wires": [
            [
                "1c37758f66d58873"
            ]
        ]
    },
    {
        "id": "0e7641d4702e2dd7",
        "type": "ui_button",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "6fe893c9504f9afb",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Go back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1300,
        "y": 460,
        "wires": [
            [
                "156de75e0e19a241",
                "55e96c261ae461fa"
            ]
        ]
    },
    {
        "id": "1c37758f66d58873",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 1660,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fcd171e0c189c231",
        "type": "ui_chart",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "6fe893c9504f9afb",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Temperature in room 1 (10 min)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "18",
        "ymax": "48",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cf2929",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d12929",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1370,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "728af7b8d158552e",
        "type": "comment",
        "z": "ae162ba06c86eb91",
        "name": "",
        "info": "Create user:\n    * Fix indtast navn\n    * Fix at den gemmer.\n\nStatus\n    * Lav grafer baseret på data.\n\nSettings\n    * Tillad at skifte ønsket interval.\n\nHelp\n    * Ikke vigtig, skriv lidt tekst til hvordan det virker",
        "x": 660,
        "y": 1220,
        "wires": []
    },
    {
        "id": "137438654b853d94",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Not logged in\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 580,
        "wires": [
            [
                "48b5d2e1866a7ca6"
            ]
        ]
    },
    {
        "id": "9d0e84c3b776c62f",
        "type": "ui_button",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "4a1af5b4282046a2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 580,
        "wires": [
            [
                "137438654b853d94",
                "c8e693f4e669f9e8"
            ]
        ]
    },
    {
        "id": "48b5d2e1866a7ca6",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 1000,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "272873f808303875",
        "type": "inject",
        "z": "ae162ba06c86eb91",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "s183668@student.dtu.dk/pub",
        "payload": "N3WU53R",
        "payloadType": "str",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "c8f3d537e79fba73"
            ]
        ]
    },
    {
        "id": "2eb8a9bca42711d7",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Not logged in\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 740,
        "wires": [
            [
                "2d9a22ebdab3ca2c"
            ]
        ]
    },
    {
        "id": "2d9a22ebdab3ca2c",
        "type": "ui_ui_control",
        "z": "ae162ba06c86eb91",
        "name": "",
        "events": "all",
        "x": 340,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6882afc21c22a825",
        "type": "link in",
        "z": "ae162ba06c86eb91",
        "name": "link in 1",
        "links": [
            "c8e693f4e669f9e8",
            "55e96c261ae461fa",
            "632a8a87459fdf75",
            "e4cb413eb12144db",
            "d76bd470725a61ae",
            "4e1b312dd6d8e92b",
            "7b208fb19bf3f807"
        ],
        "x": 35,
        "y": 700,
        "wires": [
            [
                "5b84497c891ac78c",
                "3a6f7d95380c79c6"
            ]
        ]
    },
    {
        "id": "c8e693f4e669f9e8",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "6882afc21c22a825"
        ],
        "x": 795,
        "y": 420,
        "wires": []
    },
    {
        "id": "55e96c261ae461fa",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "6882afc21c22a825"
        ],
        "x": 1415,
        "y": 420,
        "wires": []
    },
    {
        "id": "632a8a87459fdf75",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "6882afc21c22a825"
        ],
        "x": 775,
        "y": 760,
        "wires": []
    },
    {
        "id": "e4cb413eb12144db",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "6882afc21c22a825"
        ],
        "x": 1435,
        "y": 820,
        "wires": []
    },
    {
        "id": "d76bd470725a61ae",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "6882afc21c22a825"
        ],
        "x": 805,
        "y": 980,
        "wires": []
    },
    {
        "id": "4e1b312dd6d8e92b",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "6882afc21c22a825"
        ],
        "x": 795,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab1d4ed56c57a438",
        "type": "delay",
        "z": "ae162ba06c86eb91",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 340,
        "y": 700,
        "wires": [
            [
                "2eb8a9bca42711d7"
            ]
        ]
    },
    {
        "id": "5b84497c891ac78c",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 700,
        "wires": [
            [
                "ab1d4ed56c57a438"
            ]
        ]
    },
    {
        "id": "3a6f7d95380c79c6",
        "type": "delay",
        "z": "ae162ba06c86eb91",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 150,
        "y": 660,
        "wires": [
            [
                "ab1d4ed56c57a438"
            ]
        ]
    },
    {
        "id": "4bfb7763dea78422",
        "type": "comment",
        "z": "ae162ba06c86eb91",
        "name": "Inactivity system",
        "info": "Log out the user, if the are inactive for 5 minutes",
        "x": 160,
        "y": 620,
        "wires": []
    },
    {
        "id": "ec3f2ed717a33411",
        "type": "ui_text",
        "z": "ae162ba06c86eb91",
        "group": "f098bf7063da98c1",
        "order": 2,
        "width": "6",
        "height": "12",
        "name": "",
        "label": "",
        "format": "This project involves making a small smart home temperature regulation system. The system is based around a centralized hub, which has a RFID scanner, to let each individual in the home have their own ID chips, with which they can “check-in” into the home.   When doing so, the hub sends the ID of the user to the web server, which then sends out a user defined temperature profile for temperature sensing units around the house. The temperature sensing units have the job, to measure whether the room/house is within the user defined temperature profile, and if not this will be indicated on the sensor unit with LEDs and hopefully later on with actuation to get closer to the temperature desired. The sensing unit will also send up the measured temperature to the cloud, so it can be displayed on the web application.   The hub will be using MQTT with Maqiatto as MQTT broker, and node-red as the backend system and web application. ",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "16",
        "color": "#000000",
        "x": 1310,
        "y": 900,
        "wires": []
    },
    {
        "id": "366213a249a42265",
        "type": "mqtt in",
        "z": "ae162ba06c86eb91",
        "name": "",
        "topic": "s183668@student.dtu.dk/SensorToCloudTemp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fdcb03fd266d8483",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1390,
        "y": 380,
        "wires": [
            [
                "554c53eee32bd9c8",
                "d0f264d84ec0a954"
            ]
        ]
    },
    {
        "id": "554c53eee32bd9c8",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "b13b0587652c98a1"
        ],
        "x": 1595,
        "y": 380,
        "wires": []
    },
    {
        "id": "b13b0587652c98a1",
        "type": "link in",
        "z": "ae162ba06c86eb91",
        "name": "link in 2",
        "links": [
            "554c53eee32bd9c8"
        ],
        "x": 1195,
        "y": 540,
        "wires": [
            [
                "fcd171e0c189c231",
                "351ac1716a65ca10",
                "1d0d8bb9574f75b8",
                "5322fd7362f42ec6"
            ]
        ]
    },
    {
        "id": "55e6bc1f9d69f3b2",
        "type": "ui_form",
        "z": "ae162ba06c86eb91",
        "name": "",
        "label": "",
        "group": "a842e552509d81cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Temperature",
                "value": "Input new temperature",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Input new temperature": ""
        },
        "payload": "",
        "submit": "Change temperature",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 650,
        "y": 760,
        "wires": [
            [
                "b7d6bbeaaa2484d2",
                "7b208fb19bf3f807"
            ]
        ]
    },
    {
        "id": "b7d6bbeaaa2484d2",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "function 1",
        "func": "let database = global.get(\"database\");\nlet currentUser = global.get(\"currentUser\");\n\nlet data = msg.payload[\"Input new temperature\"];\n\nfor (let i = 0; i < database.length; i++){\n    if (database[i][0] == currentUser) {\n        let temp = Number(data);\n        database[i][2] = temp; // Update the database entry\n        global.set(\"database\", database);\n        msg.payload = temp; // Set the payload to the number\n        break;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 760,
        "wires": [
            [
                "25a69323198e1010"
            ]
        ]
    },
    {
        "id": "f3179b397010181b",
        "type": "ui_text",
        "z": "ae162ba06c86eb91",
        "group": "a842e552509d81cf",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current temperature preference",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 680,
        "wires": []
    },
    {
        "id": "38e4a3032a0e2c87",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "function 2",
        "func": "let database = global.get(\"database\");\nlet currentUser = global.get(\"currentUser\");\nvar newMsg = { payload: msg.payload.length };\n\n\nfor (let i = 0; i < database.length; i++){\n    if (database[i][0] == currentUser) {\n        msg.payload = database[i][2];\n        newMsg.payload = database[i][3];\n        return [msg, newMsg];\n    }\n}\n\n\n\nreturn [null, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 720,
        "wires": [
            [
                "f3179b397010181b"
            ],
            [
                "567f1c57856d4c49"
            ]
        ]
    },
    {
        "id": "6d266302f36d2958",
        "type": "inject",
        "z": "ae162ba06c86eb91",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 650,
        "y": 720,
        "wires": [
            [
                "38e4a3032a0e2c87"
            ]
        ]
    },
    {
        "id": "7b208fb19bf3f807",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "6882afc21c22a825"
        ],
        "x": 775,
        "y": 680,
        "wires": []
    },
    {
        "id": "25a69323198e1010",
        "type": "mqtt out",
        "z": "ae162ba06c86eb91",
        "name": "Send new temp to sensor",
        "topic": "s183668@student.dtu.dk/CloudToSensorTemp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fdcb03fd266d8483",
        "x": 990,
        "y": 760,
        "wires": []
    },
    {
        "id": "d0f264d84ec0a954",
        "type": "debug",
        "z": "ae162ba06c86eb91",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 340,
        "wires": []
    },
    {
        "id": "351ac1716a65ca10",
        "type": "ui_chart",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "6fe893c9504f9afb",
        "order": 6,
        "width": 6,
        "height": 4,
        "label": "Temperature in room 1 (1 hour)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "18",
        "ymax": "48",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cf2929",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d12929",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1370,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1d0d8bb9574f75b8",
        "type": "ui_chart",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "6fe893c9504f9afb",
        "order": 8,
        "width": 6,
        "height": 4,
        "label": "Temperature in room 1 (1 day)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "18",
        "ymax": "48",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cf2929",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d12929",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1370,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4e2518629fcb366a",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "function 3",
        "func": "let database = global.get(\"database\");\nlet currentUser = global.get(\"currentUser\");\nlet desiredTemp = global.get(\"desiredTemp\");\nlet desiredHum = global.get(\"desiredHum\");\nlet username = global.get(\"username\");\n\ndatabase.push([username, currentUser, desiredTemp, desiredHum]);\nglobal.set(\"database\", database);\n\nmsg.payload = database[database.length - 1][1];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1140,
        "wires": [
            [
                "1f1cc73e23ebfa4f",
                "53d1f5baf14afe10"
            ]
        ]
    },
    {
        "id": "09ba5580cc66a349",
        "type": "ui_text_input",
        "z": "ae162ba06c86eb91",
        "name": "",
        "label": "Username",
        "tooltip": "",
        "group": "8760a5fd5ea8e2bf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 670,
        "y": 1020,
        "wires": [
            [
                "b9487ee610a55988"
            ]
        ]
    },
    {
        "id": "5f4a93124a4c82d7",
        "type": "ui_text_input",
        "z": "ae162ba06c86eb91",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "8760a5fd5ea8e2bf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 670,
        "y": 1060,
        "wires": [
            [
                "e009ae2db652f4e9"
            ]
        ]
    },
    {
        "id": "b9487ee610a55988",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "function 4",
        "func": "let username = global.get(\"username\");\n\nusername = msg.payload;\n\nglobal.set(\"username\", username);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "5fe7906ed8fc0d2c",
        "type": "ui_button",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "8760a5fd5ea8e2bf",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 1140,
        "wires": [
            [
                "4e2518629fcb366a"
            ]
        ]
    },
    {
        "id": "e009ae2db652f4e9",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "function 5",
        "func": "let desiredTemp = global.get(\"desiredTemp\");\n\ndesiredTemp = Number(msg.payload);\n\nglobal.set(\"desiredTemp\", desiredTemp);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "1f1cc73e23ebfa4f",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "a54ad6d69372effd"
        ],
        "x": 955,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a54ad6d69372effd",
        "type": "link in",
        "z": "ae162ba06c86eb91",
        "name": "link in 3",
        "links": [
            "1f1cc73e23ebfa4f"
        ],
        "x": 395,
        "y": 140,
        "wires": [
            [
                "c8f3d537e79fba73",
                "405098ba03630d47"
            ]
        ]
    },
    {
        "id": "405098ba03630d47",
        "type": "debug",
        "z": "ae162ba06c86eb91",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "53d1f5baf14afe10",
        "type": "debug",
        "z": "ae162ba06c86eb91",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1020,
        "wires": []
    },
    {
        "id": "150a8ca7070be110",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "e3ee3fdf3dbec890"
        ],
        "x": 975,
        "y": 160,
        "wires": []
    },
    {
        "id": "e3ee3fdf3dbec890",
        "type": "link in",
        "z": "ae162ba06c86eb91",
        "name": "link in 4",
        "links": [
            "150a8ca7070be110"
        ],
        "x": 555,
        "y": 1020,
        "wires": [
            [
                "09ba5580cc66a349",
                "5f4a93124a4c82d7",
                "815574fb7322c1e3"
            ]
        ]
    },
    {
        "id": "8f70c1b04fe1376e",
        "type": "change",
        "z": "ae162ba06c86eb91",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 160,
        "wires": [
            [
                "150a8ca7070be110"
            ]
        ]
    },
    {
        "id": "1f602df3e398ee0b",
        "type": "ui_chart",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "6fe893c9504f9afb",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Humidity in room 1 (10 min)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#3b38ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d12929",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1720,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d18a0e7faded5a1e",
        "type": "ui_chart",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "6fe893c9504f9afb",
        "order": 7,
        "width": 6,
        "height": 4,
        "label": "Humidity in room 1 (1 hour)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d12929",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1720,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c737988d6fae010b",
        "type": "ui_chart",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "6fe893c9504f9afb",
        "order": 9,
        "width": 6,
        "height": 4,
        "label": "Humidity in room 1 (1 day)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d12929",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1720,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5322fd7362f42ec6",
        "type": "ui_gauge",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "6fe893c9504f9afb",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#c43636",
            "#b13131",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1310,
        "y": 500,
        "wires": []
    },
    {
        "id": "2d8135b69b96feb8",
        "type": "ui_gauge",
        "z": "ae162ba06c86eb91",
        "name": "",
        "group": "6fe893c9504f9afb",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1660,
        "y": 500,
        "wires": []
    },
    {
        "id": "8f241f9bed008d48",
        "type": "link in",
        "z": "ae162ba06c86eb91",
        "name": "link in 5",
        "links": [
            "e14de5c03d82bf3f"
        ],
        "x": 1545,
        "y": 540,
        "wires": [
            [
                "1f602df3e398ee0b",
                "2d8135b69b96feb8",
                "d18a0e7faded5a1e",
                "c737988d6fae010b"
            ]
        ]
    },
    {
        "id": "32df07fbe5ad344d",
        "type": "mqtt in",
        "z": "ae162ba06c86eb91",
        "name": "",
        "topic": "s183668@student.dtu.dk/SensorToCloudHum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fdcb03fd266d8483",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1830,
        "y": 380,
        "wires": [
            [
                "e14de5c03d82bf3f",
                "4825b621cb5e6acf"
            ]
        ]
    },
    {
        "id": "e14de5c03d82bf3f",
        "type": "link out",
        "z": "ae162ba06c86eb91",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "8f241f9bed008d48"
        ],
        "x": 2035,
        "y": 380,
        "wires": []
    },
    {
        "id": "4825b621cb5e6acf",
        "type": "debug",
        "z": "ae162ba06c86eb91",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2080,
        "y": 340,
        "wires": []
    },
    {
        "id": "49982542cd983bf1",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "function 6",
        "func": "let currentUser = global.get(\"currentUser\");\n\nmsg.payload = currentUser;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 420,
        "wires": [
            [
                "3490575e878f2cf7"
            ]
        ]
    },
    {
        "id": "c9188073162e3881",
        "type": "ui_form",
        "z": "ae162ba06c86eb91",
        "name": "",
        "label": "",
        "group": "a842e552509d81cf",
        "order": 7,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Humidity",
                "value": "Input new humidity",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Input new humidity": ""
        },
        "payload": "",
        "submit": "Change humidity",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 650,
        "y": 800,
        "wires": [
            [
                "e8b19fa5c1e1d407"
            ]
        ]
    },
    {
        "id": "e8b19fa5c1e1d407",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "function 7",
        "func": "let database = global.get(\"database\");\nlet currentUser = global.get(\"currentUser\");\n\nlet data = msg.payload[\"Input new humidity\"];\n\nfor (let i = 0; i < database.length; i++){\n    if (database[i][0] == currentUser) {\n        let hum = Number(data);\n        database[i][3] = hum; // Update the database entry\n        global.set(\"database\", database);\n        msg.payload = hum; // Set the payload to the number\n        break;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 800,
        "wires": [
            [
                "a958fa0cedd935b4"
            ]
        ]
    },
    {
        "id": "a958fa0cedd935b4",
        "type": "mqtt out",
        "z": "ae162ba06c86eb91",
        "name": "Send new hum to sensor",
        "topic": "s183668@student.dtu.dk/CloudToSensorHum",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fdcb03fd266d8483",
        "x": 990,
        "y": 800,
        "wires": []
    },
    {
        "id": "567f1c57856d4c49",
        "type": "ui_text",
        "z": "ae162ba06c86eb91",
        "group": "a842e552509d81cf",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current humidity preference",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 720,
        "wires": []
    },
    {
        "id": "aa90923185db1658",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "Find user and preset",
        "func": "var newMsg = { payload: msg.payload.length };\n\nlet str = msg.payload;\nconst temp = str.split(\";\")[1];\nconst hum = str.split(\";\")[2];\n\nmsg.payload = temp;\nnewMsg.payload = hum;\n\nreturn [msg, newMsg]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 40,
        "wires": [
            [
                "a75d82f4e9eb6766"
            ],
            [
                "ffbd260251bb61c0"
            ]
        ]
    },
    {
        "id": "a75d82f4e9eb6766",
        "type": "mqtt out",
        "z": "ae162ba06c86eb91",
        "name": "Send new temp to sensor",
        "topic": "s183668@student.dtu.dk/CloudToSensorTemp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fdcb03fd266d8483",
        "x": 1110,
        "y": 20,
        "wires": []
    },
    {
        "id": "ffbd260251bb61c0",
        "type": "mqtt out",
        "z": "ae162ba06c86eb91",
        "name": "Send new hum to sensor",
        "topic": "s183668@student.dtu.dk/CloudToSensorHum",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fdcb03fd266d8483",
        "x": 1110,
        "y": 60,
        "wires": []
    },
    {
        "id": "815574fb7322c1e3",
        "type": "ui_text_input",
        "z": "ae162ba06c86eb91",
        "name": "",
        "label": "Humidity",
        "tooltip": "",
        "group": "8760a5fd5ea8e2bf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 1100,
        "wires": [
            [
                "30ce63909759df4a"
            ]
        ]
    },
    {
        "id": "30ce63909759df4a",
        "type": "function",
        "z": "ae162ba06c86eb91",
        "name": "function 8",
        "func": "let desiredHum = global.get(\"desiredHum\");\n\ndesiredHum = Number(msg.payload);\n\nglobal.set(\"desiredHum\", desiredHum);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1100,
        "wires": [
            []
        ]
    }
]